@model List<cine>

@foreach(var movie in Model)
{
        <div class="card mb-3" id="movie_@movie.ID">
            <div class="row">
                <div class="col md-4">
                    <img src="~/img/@movie.Image" class="img-fluid rounded start" alt="">

                </div>
                <div class="col md-8">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">@movie.Description</p>
                    </div>
                </div>
            </div>
        </div>
}

